[mysqld]

# Master-slave replication
server-id=1
relay-log=relay-bin
log-bin=mysqld-bin
log-slave-updates
relay_log_purge
# max_binlog_size
# max_relay_log_size

# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Settings user and group are ignored when systemd is used (fedora >= 15).
# If you need to run mysqld under a different user or group,
# customize your systemd unit file for mysqld according to the
# instructions in http://fedoraproject.org/wiki/Systemd
user=mysql

# Semisynchronous Replication
# http://dev.mysql.com/doc/refman/5.5/en/replication-semisync.html
# uncomment next line on MASTER
;plugin-load=rpl_semi_sync_master=semisync_master.so
# uncomment next line on SLAVE
;plugin-load=rpl_semi_sync_slave=semisync_slave.so

# Others options for Semisynchronous Replication
;rpl_semi_sync_master_enabled=1
;rpl_semi_sync_master_timeout=10
;rpl_semi_sync_slave_enabled=1

# http://dev.mysql.com/doc/refman/5.5/en/performance-schema.html
;performance_schema

character-set-server=utf8
init_connect='SET NAMES utf8'
max_connections=8192
max_allowed_packet=16M
thread_cache_size=8
bind-address=0.0.0.0
port=3306

default-storage-engine=innodb
innodb_buffer_pool_size=2048M
innodb_log_file_size=100M
innodb_flush_log_at_trx_commit=2

datadir=/home/mysql/
# log = 
log-error=/home/mysql/mysqld.err
pid-file=/home/mysql/mysqld.pid

